# Strategy and Performance Management
### Prediction champion - Timp Health II - Group Pre-Assignment
Group 4 : Kirtesh Patel, Nils Marthiensen, Neelesh Bhalla, Chia-Jung Chang

GitHub - https://github.com/nilsmart96/fs-spm-assignments/tree/main

In [95]:
# Import of necessary libraries

import pandas as pd
import numpy as np
import statsmodels.api as sm

In [96]:
# The equation obtained from our model is 
print('log(Predicted price) = 0.0451*Month + 0.2229*NLISDummy + 0.5723*LISCHOSERDummy + 0.0009*RiskScore + 1.2389*SpecialtyDummy + 0.1841*AdjudicationDays + -0.0052*Age + -0.0672*Gender')
print('OR')
print('Predicted price = exp(0.0451*Month + 0.2229*NLISDummy + 0.5723*LISCHOSERDummy + 0.0009*RiskScore + 1.2389*SpecialtyDummy + 0.1841*AdjudicationDays + -0.0052*Age + -0.0672*Gender)')

log(Predicted price) = 0.0451*Month + 0.2229*NLISDummy + 0.5723*LISCHOSERDummy + 0.0009*RiskScore + 1.2389*SpecialtyDummy + 0.1841*AdjudicationDays + -0.0052*Age + -0.0672*Gender
OR
Predicted price = exp(0.0451*Month + 0.2229*NLISDummy + 0.5723*LISCHOSERDummy + 0.0009*RiskScore + 1.2389*SpecialtyDummy + 0.1841*AdjudicationDays + -0.0052*Age + -0.0672*Gender)

In [97]:
# Import of the data and removal of non-relevent columns
data_url = 'https://github.com/nilsmart96/fs-spm-assignments/blob/main/Prediction_champion-Timp_Health_II-%20Group_Pre-Assignment/Timp_Health_data%20-%20including%20month%207-1.txt?raw=true'
df = pd.read_csv(data_url, delimiter='\t')
df.drop(['RecordID','MemberID'],axis=1,inplace=True)
df

,Month,GrossDrugCost,NLISDummy,LISCHOSERDummy,RiskScore,SpecialtyDummy,AdjudicationDays,Age,Gender,FrailityDummy,HospiceDummy,InstitutionDummy,ESRDDummy
0,7,184.26,0,0,336.0,0,21,52,1,0,0,0,0
1,6,1242.17,0,0,668.4,1,21,96,1,0,0,0,0
2,1,625.86,0,0,290.0,1,21,59,1,0,0,0,0
3,6,27.91,0,0,477.2,1,21,43,1,0,0,0,0
4,6,46451.23,0,0,2135.6,0,21,67,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52069,3,337.39,1,0,245.6,0,22,66,1,0,0,0,0
52070,4,358.93,1,0,245.6,1,22,66,1,0,0,0,0
52071,5,73.92,1,0,245.6,0,22,66,1,0,0,0,0
52072,6,771.96,1,0,245.6,0,22,66,1,0,0,0,0
52073,7,861.55,1,0,245.6,1,22,66,1,0,0,0,0

In [98]:
# retaining data for 7th month exclusively
df_7th_month = df[df['Month']==7]
df_7th_month

,Month,GrossDrugCost,NLISDummy,LISCHOSERDummy,RiskScore,SpecialtyDummy,AdjudicationDays,Age,Gender,FrailityDummy,HospiceDummy,InstitutionDummy,ESRDDummy
0,7,184.26,0,0,336.0,0,21,52,1,0,0,0,0
5,7,6.66,0,0,228.8,0,21,77,1,0,0,0,0
8,7,442.12,0,0,539.6,0,21,24,0,0,0,0,0
9,7,53.66,0,0,637.6,0,21,86,0,0,0,0,0
12,7,0.00,0,0,434.4,0,21,45,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52054,7,85.05,0,1,330.0,0,22,66,0,0,0,0,0
52058,7,306.12,0,1,396.4,0,22,66,1,0,0,0,0
52059,7,874.11,0,1,569.6,0,22,60,1,0,0,0,0
52068,7,28.31,1,0,248.8,0,22,66,0,0,0,0,0
52073,7,861.55,1,0,245.6,1,22,66,1,0,0,0,0

In [99]:
# Evaluating predicted cost using the model equation

#df_7th_month['Predicted Cost']= np.exp(0.0451*df_7th_month['Month']+ 0.2229*df_7th_month['NLISDummy'] + 0.5723*df_7th_month['LISCHOSERDummy'] + 0.0009*df_7th_month['RiskScore'] + 1.2389*df_7th_month['SpecialtyDummy'] + 0.1841*df_7th_month['AdjudicationDays'] - 0.0052*df_7th_month['Age'] - 0.0672*df_7th_month['Gender'])
df_7th_month['Predicted Cost'] = np.exp(0.0445*df_7th_month['Month'] + 0.2090*df_7th_month['NLISDummy'] + 0.5593*df_7th_month['LISCHOSERDummy'] + 0.0009*df_7th_month['RiskScore'] + 1.2307*df_7th_month['SpecialtyDummy'] + 0.1871*df_7th_month['AdjudicationDays'] + -0.0056*df_7th_month['Age'] + -0.0669*df_7th_month['Gender'])
df_7th_month

/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_16749/2579571929.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_7th_month['Predicted Cost'] = np.exp(0.0445*df_7th_month['Month'] + 0.2090*df_7th_month['NLISDummy'] + 0.5593*df_7th_month['LISCHOSERDummy'] + 0.0009*df_7th_month['RiskScore'] + 1.2307*df_7th_month['SpecialtyDummy'] + 0.1871*df_7th_month['AdjudicationDays'] + -0.0056*df_7th_month['Age'] + -0.0669*df_7th_month['Gender'])

,Month,GrossDrugCost,NLISDummy,LISCHOSERDummy,RiskScore,SpecialtyDummy,AdjudicationDays,Age,Gender,FrailityDummy,HospiceDummy,InstitutionDummy,ESRDDummy,Predicted Cost
0,7,184.26,0,0,336.0,0,21,52,1,0,0,0,0,65.686932
5,7,6.66,0,0,228.8,0,21,77,1,0,0,0,0,51.853374
8,7,442.12,0,0,539.6,0,21,24,0,0,0,0,0,98.675827
9,7,53.66,0,0,637.6,0,21,86,0,0,0,0,0,76.160275
12,7,0.00,0,0,434.4,0,21,45,1,0,0,0,0,74.638764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52054,7,85.05,0,1,330.0,0,22,66,0,0,0,0,0,136.237543
52058,7,306.12,0,1,396.4,0,22,66,1,0,0,0,0,135.268271
52059,7,874.11,0,1,569.6,0,22,60,1,0,0,0,0,163.488067
52068,7,28.31,1,0,248.8,0,22,66,0,0,0,0,0,89.212396
52073,7,861.55,1,0,245.6,1,22,66,1,0,0,0,0,284.843527

In [100]:
# calculating square of differences between predicted and actual drug cost in a column called 'square_of_differences'
df_7th_month['square_of_difference'] = (df_7th_month['Predicted Cost'] - df_7th_month['GrossDrugCost'] ) ** 2
df_7th_month

/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_16749/131239660.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_7th_month['square_of_difference'] = (df_7th_month['Predicted Cost'] - df_7th_month['GrossDrugCost'] ) ** 2

,Month,GrossDrugCost,NLISDummy,LISCHOSERDummy,RiskScore,SpecialtyDummy,AdjudicationDays,Age,Gender,FrailityDummy,HospiceDummy,InstitutionDummy,ESRDDummy,Predicted Cost,square_of_difference
0,7,184.26,0,0,336.0,0,21,52,1,0,0,0,0,65.686932,14059.572480
5,7,6.66,0,0,228.8,0,21,77,1,0,0,0,0,51.853374,2042.441031
8,7,442.12,0,0,539.6,0,21,24,0,0,0,0,0,98.675827,117953.900141
9,7,53.66,0,0,637.6,0,21,86,0,0,0,0,0,76.160275,506.262371
12,7,0.00,0,0,434.4,0,21,45,1,0,0,0,0,74.638764,5570.945126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52054,7,85.05,0,1,330.0,0,22,66,0,0,0,0,0,136.237543,2620.164533
52058,7,306.12,0,1,396.4,0,22,66,1,0,0,0,0,135.268271,29190.313264
52059,7,874.11,0,1,569.6,0,22,60,1,0,0,0,0,163.488067,504983.532349
52068,7,28.31,1,0,248.8,0,22,66,0,0,0,0,0,89.212396,3709.101854
52073,7,861.55,1,0,245.6,1,22,66,1,0,0,0,0,284.843527,332590.356469

In [101]:
# calculating RMSE
RMSE = np.sqrt(df_7th_month['square_of_difference'].sum() / len(df_7th_month))
RMSE

1585.523465060086